html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

section {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.flex {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.flex-1 {
  flex: 1 1 0;
}

.cell {
  margin: 5px;
  cursor: pointer;
  border: gray solid 1px;
  border-radius: 3px;
  display: flex;
  height: 100px;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}

.cell-2::after {
  content: "o";
  color: green;
}

.cell-1::after {
  content: "x";
  color: red;
}
